<div class="container profile">
	<div class="row">
		<div class="col-md-4 gravatar">
			<img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" />
			<span class="name profileName">
				{{ profile.username }}
			</span>
		</div>
		<div class="col-md-4 profileName">
		</div>
	</div>

	<div class="panel panel-default profileElement" ng-repeat="(key,post) in posts">
		<div class="info panel-heading panel-top">
			<a ng-href="{{ post.url }}">
				{{ post.title }}
				<span class="url">({{ post.url | hostnameFromUrl }})</span>
			</a>
		</div>
		<div class="panel-body">
			<a ng-href="#/posts/{{ post.$id }}">comments</a>
		</div>
	</div>
</div>