<!-- The panel for the posts -->
<div class="panel panel-success">
	<div class="panel-heading postTop">
		<a ng-href="{{ post.url }}">
			{{ post.title }}
			<span class="url">({{ post.url | hostnameFromUrl }})</span>
		</a>
	</div>
	<div class="panel-body postBottom">
		<div>
			<span>Submitted by : <a ng-href="#/users/{{ post.creatorUID }}">  {{ post.creator }} </a></span>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>

<!-- The panel for comments -->
<div ng-repeat="comment in comments" class="panel panel-default">
	<div class="panel-heading panel-top">
		<a ng-href="#/users/{{ comment.creatorUID }}"> {{ comment.creator }}</a>
	</div>
	<div class="panel-body">
		{{comment.text}}
		<br />
		<p class="author">
			<a ng-href="" ng-click="deleteComment(comment)"ng-show="signedIn()  && comment.creatorUID === user.uid">(delete)
			</a>
		</p>
	</div>
</div>

<!-- Comment form Panel -->
<div>
	<div ng-hide="signedIn()">
		<p><a href="#/login">Sign in</a> to post a comment</p>
	</div>

	<form ng-show="signedIn()" ng-submit="addComment()" class="commentForm">
		<div class="col-md-9">
			<textarea ng-model="commentText" placeholder="Post a Comment" class="form-control"></textarea>
		</div>
		<div class="col-md-2">
			<input type="submit" value="Post Comment" class="btn btn-primary postCommentButton" />
		</div>
	</form>
</div>

<p>
	<br />
	<a ng-href="#/posts" class="backToPosts">Back to Posts</a>
</p>
