/*Landing Page Starts*/
 html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: black;
	font-family: "Lato", sans-serif;
}

p {
	position: absolute;
	left: 0;
	font-weight: 300;
	width: 100%;
	top: 43%;
	bottom: 50%;
	color: white;
	font-size: 2.5em;
	text-align: center;
	text-decoration: none;
}

video {
	/* HTML5 video fallback */
	display: block;
	background-image: 
	linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('../images/background.png');
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	/* Disable play button in iOS */
	pointer-events: none;
}

 /* The element to cover, `body` in this case */
 body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

/* The element to resize, `video` in this case */
video {
	min-width: 99%;
	min-height: 99%;
	z-index: 0;
	/* Center it */
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.covervid-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

#overlay {
	height:100%; 
	width:100%; 
	background: rgba(0, 0, 0, 0.75);
	z-index:10; 
	position: absolute;
}

#buttonContainer {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 60%;
	height: 40%;
	font-size: 1.2em;
	top: 20%;
	bottom: 10%;  
}

#logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 50%;
	width: 15%;
	margin: auto;
}

p {
	position: absolute;
	left: 0;
	right: 0;
	width: 80%;
	margin: auto;
}

/* General button style (reset) */
.button {
		top: 60%;
		bottom: 30%;
		border: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background: none;
		cursor: pointer;
		padding: 1% 5%;
		display: inline-block;
		margin: 1% 25px;
		width: 30%;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		outline: none;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
}

.button:after {
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.button:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Button 1 */
.button-1 {
	border: 2px solid #fff;
	color: #fff;
}

/* Button 1a */
.button-1a:hover,
.button-1a:active {
	color: #1abc9c;
	background: #fff;
}

@media screen and (max-width: 600px) {
	#logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 50%;
		width: 30%;
		margin: auto;
	}

	p {
		width: 100%;
		top: 40%;
		font-size: 1.5em;
		bottom: 50%;
	}

	.button-1 {
		width: 50%;
	}

	#buttonContainer {
		width: 200px;
		font-size: 0.75em;
	}
}
/*Landing Page Ends*/